<h1>Editing products api</h1>

<%= render "form", products_api: @products_api %>

<br>

<div>
  <%= link_to "Show this products api", @products_api %> |
  <%= link_to "Back to products apis", products_apis_path %>
</div>
